
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

%flex {
  display: flex;
}

%flex-center {
  @extend %flex;
  align-items: center;
  justify-content: center;
}

%flex-center-space-evenly {
  @extend %flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin keyframes ($keyframename) {
  @keyframes #{$keyframename}         { @content; }
  @-o-keyframes #{$keyframename}      { @content; }
  @-ms-keyframes #{$keyframename}     { @content; }
  @-moz-keyframes #{$keyframename}    { @content; }
  @-webkit-keyframes #{$keyframename} { @content; }
}
