@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
         -o-border-radius: $radius;
            border-radius: $radius;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin keyframes ($keyframename) {
    @keyframes #{$keyframename}         { @content; }
    @-o-keyframes #{$keyframename}      { @content; }
    @-ms-keyframes #{$keyframename}     { @content; }
    @-moz-keyframes #{$keyframename}    { @content; }
    @-webkit-keyframes #{$keyframename} { @content; }
}
